@import "meta";

h1,
h2,
h3 {
  color: $primary;
}

h1 {
  @include mobile {
    font-size: 1.5rem;
  }
}
body {
  background: $dshade;
  position: relative;
  min-height: 100vh;
  padding-top: 1vw;
  padding-bottom: 15rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $laccent;
  font-weight: bold;

  nav {
    display: flex;
    align-items: center;
    background: $primary;
    border-radius: $border-radius;
    flex-wrap: nowrap;
    padding: 0.5rem !important;
    max-width: 300px;
    &:hover {
      opacity: 1 !important;
    }

    form {
      width: 100%;
      div {
        display: flex;
        gap: 0.5rem;
      }

      input {
        border: none;
        font-weight: bold;

        &[type="text"] {
          width: 100%;
          display: flex;
          padding: 0.3rem 0.5rem;
          border-radius: $border-radius;
        }

        &[type="submit"] {
          height: auto;
          background: $laccent;
          color: $primary;
          padding: 0rem 0.5rem;
          border-radius: $border-radius;
          height: 2rem;
          align-self: center;
          cursor: pointer;

          &:hover {
            opacity: 0.9;
          }
        }
      }
    }
  }

  @include tablet {
    display: flex;
    flex-direction: column;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10rem;
  padding-top: 5rem;
  margin: auto;
  display: block;
  text-align: center;
  color: $laccent;

  nav {
    a {
      margin: 0.2rem;
    }
  }
}

main {
  max-width: $fullWidth;
  width: 98vw;
  box-shadow: 0 0.2rem 0.5rem #3333;
  padding: 1rem;
  border-radius: $border-radius;
  background: $laccent;
  margin: auto;
}

button {
  appearance: none;
  border: none;
  background: none;
  text-align: center;
  cursor: pointer;
  color: inherit;
  font-weight: bold;

  i {
    pointer-events: none;
  }
}

.course-table-row {
  display: grid;
  grid-template-columns: auto 7rem 3rem;
  display: grid;
  gap: 1rem;
  width: 100%;
  color: $dshade;
  align-items: center;

  & > :last-child() {
    display: none;
  }

  @include mobile {
    & {
      grid-template-columns: auto 5rem 3rem;
    }
    * {
      font-size: 0.9rem;
    }
  }
  & div:first-of-type {
    flex-direction: row;
    @include mobile {
      flex-direction: column;
    }
    span:first-of-type {
      width: 6rem;
    }
  }

  &:first-child {
    background: $lshade;
    font-weight: bold;
  }

  &:nth-child(2n + 3) {
    background: rgba($lshade, 0.2);
  }

  &:not(:first-child):hover {
    background: rgba($lshade, 0.4);
  }

  & > span {
    text-align: center;
  }

  div {
    display: flex;
    flex-direction: column;

    & > span:first-child {
      text-transform: uppercase;
    }
  }

  span {
    padding: 0.2rem 0.5rem;

    @include mobile {
      & {
        padding: 0.1rem 0.25rem;
      }
    }
    .table-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      button {
        font-size: 1.2rem;

        &:hover {
          color: $daccent;
        }
      }
    }
  }
}

.loading {
  margin: auto;
  display: flex;
}

.removed{
  font-style: italic;
  background: #aaa;
  position: relative;
  cursor: not-allowed;
  &:hover{
    background: #aaa!important;
  }

  .table-buttons{
    display: none!important;
  }
}
.button {
  position: relative;
  @include gradient;
  isolation: isolate;
  padding: 0.4rem 0.7rem;
  font-weight: 700;
  color: $laccent;
  height: min-content;
  border-radius: $border-radius;

  &:hover {
    opacity: 0.9;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    z-index: -5;
    filter: blur(0.3rem);
  }
}

.form-style-7 {
  max-width: 400px;
  margin: 50px auto;
  border-radius: $border-radius;
  box-shadow: 0 0.2rem 0.5rem #3333;
  padding: 1rem;
  position: relative;

  .button-close {
    position: absolute;
    right: 1.3rem;
    top: 1.3rem;
    font-size: 1.2rem;
  }

  div {
    padding: 0;
    margin: 0;

    div {
      display: block;
      padding: 0.6rem;
      padding-top: 0;
      border: 1px solid #dddddd;
      margin-bottom: 30px;
      border-radius: $border-radius;

      &:last-child {
        border: none;
        margin-bottom: 0px;
        text-align: center;
      }

      label {
        display: block;
        float: left;
        margin-top: -1.3rem;
        position: relative;
        z-index: 999;
        padding: 0.1rem 0.5rem;
        font-size: 0.8rem;
        overflow: hidden;
        color: #fff0;
        pointer-events: none;
      }

      input[type="text"],
      input[type="url"] {
        text-align: center;
        width: 100%;
        display: block;
        outline: none;
        border: none;
        font-size: 1rem;
        padding: 0.2rem 0.4rem;
        background: none;
      }

      span {
        background: $lshade;
        display: block;
        padding: 3px;
        margin: -0.6rem;
        color: $primary;
        margin-top: 0;
        text-align: center;
        font-size: 0.8rem;
        font-weight: bold;
        border-radius: 0 0 0.3rem 0.3rem;
      }

      input[type="submit"],
      input[type="button"] {
        border: none;
        padding: 0.7rem 1.4rem;
        box-shadow: 0 0.2rem 0.1rem darken($primary, 20);
        border-radius: $border-radius;
        color: #d2e2ff;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}

.search-and-add {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;

  button {
    width: 8rem;
    white-space: nowrap;
  }
  section {
    width: 100%;
    .search-bar-container {
      position: relative;
      isolation: isolate;
      display: flex;
      margin: 1rem 0;
      width: 100%;
      &::before {
        content: "";
        inset: 0;
        top: 0;
        left: 0;
        position: absolute;
        @include gradient(40);
        filter: blur(0.2rem);
        z-index: -1;
        border-radius: $border-radius;
      }

      input {
        &[type="submit"] {
          z-index: 999;
          width: 3rem;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          color: $laccent;
          font-weight: bold;
          border-radius: 0 $border-radius $border-radius 0;
          @include gradient;
          border: none;
        }

        &[type="search"] {
          width: 100%;
          display: flex;
          padding: 0.3rem 0.5rem;
          border-radius: $border-radius;
          border: none;
          z-index: 99;
          position: relative;
        }
      }
    }
  }
}
.overlay-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 99;

  .overlay {
    background: #000c;
    position: fixed;
    z-index: 98;
    inset: 0;
  }

  .modal {
    margin: auto;
    background: $laccent;
    border-radius: $border-radius;
    z-index: 99;
  }
}

.hidden {
  display: none;
}

.api-info {
  text-align: center;
  display: block;
  font-size: .8rem;
}

.hide-me {
  position: absolute;
  z-index: -999;
  pointer-events: none;
  color: #0000;
}
