@import "../../node_modules/normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.65;
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3 {
  color: #519a8e;
}

body {
  background: #253858;
}

main {
  max-width: 1200px;
  box-shadow: 0 0.2rem 0.5rem #3333;
  padding: 1rem;
  border-radius: 1rem;
  background: #f7f9f9;
  margin: auto;
  margin-top: 2rem;
}

button {
  appearance: none;
  border: none;
  background: none;
  text-align: center;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table th,
table td {
  padding: 0.2rem 0.5rem;
}
table th {
  text-align: left;
  background: #A2D2CA;
}
table th:nth-child(n+3) {
  text-align: center;
}
table td {
  position: relative;
  padding: 5px 10px;
}
table td:nth-child(n+3) {
  text-align: center;
}
table td .table-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
table td .table-buttons button {
  font-size: 1.2rem;
}
table tr .strikeout td:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1px solid #111;
  width: 100%;
}
table tr:nth-child(even) {
  background: rgba(162, 210, 202, 0.2);
}
table tr:hover {
  background: rgba(162, 210, 202, 0.4);
}

form .form-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
form .form-inputs input {
  border-radius: 0.2rem;
  border: none;
  background: rgba(167, 71, 96, 0.2);
  padding: 0.2rem 0.4rem;
}
form label {
  font-weight: bold;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
}